@media only screen and (max-width: 1666px) {
    .sas-shrinkable {
          
    }
  }
  
  /* For Mobile */
  @media screen and (max-width: 540px) {
    .sas-shrinkable {
      -moz-transform: scale(0.25, 0.25); 
      -webkit-transform: scale(0.25, 0.25); 
      -o-transform: scale(0.25, 0.25);
      -ms-transform: scale(0.25, 0.25);
      transform: scale(0.25, 0.25); 
      -moz-transform-origin: top left;
      -webkit-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }
  }
  
  /* For Tablets */
  @media screen and (min-width: 540px) and (max-width: 780px) {
    .sas-shrinkable {
      -moz-transform: scale(0.5, 0.5); 
      -webkit-transform: scale(0.5, 0.5); 
      -o-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5); 
      -moz-transform-origin: top left;
      -webkit-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }
  }
  
  /* For Tablets */
  @media screen and (min-width: 780px) and (max-width: 1670px) {
    .sas-shrinkable {
      -moz-transform: scale(0.75, 0.75); 
      -webkit-transform: scale(0.75, 0.75); 
      -o-transform: scale(0.75, 0.75);
      -ms-transform: scale(0.75, 0.75);
      transform: scale(0.75, 0.75); 
      -moz-transform-origin: top left;
      -webkit-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }
  }